In [14]:
print('hello world')

hello world

### python 연습
* print
* 연산
```print("hello world")```

In [22]:
"""
안녕하세요
월드입니다
"""
print("hello world") # hello world 출력

hello world

In [21]:
x=input("입력해주세요 : ")
print(x)

입력해주세요 : 1
1

In [24]:
print("hello world")

hello world

In [25]:
print(1+2)

3

In [27]:
1-2

-1

In [28]:
5/2

2.5

In [29]:
5//2

2

In [30]:
5%2

1

In [31]:
2**3

8

In [32]:
2+3*2

8

In [33]:
(2+3)*2

10

In [34]:
1-         2

-1

In [40]:
int(10.4)

10

In [41]:
type(10)

TypeError: 'str' object is not callable

In [42]:
int(10.7)

10

In [43]:
float(10)

10.0

In [45]:
int("hello world")

ValueError: invalid literal for int() with base 10: 'hello world'

In [46]:
int(5/2)

2

In [47]:
x=10
x+=10
x

20

In [48]:
type(x)

TypeError: 'str' object is not callable

In [49]:
x=20
y=30
c=x+y
c

50

In [50]:
x=10
x+10
x

10

In [51]:
x=10
x+=10
x

20

In [52]:
x=10

In [53]:
x=x+10

In [54]:
x

20

In [55]:
x=None
x

In [56]:
print(x)

None

In [57]:
type(x)

TypeError: 'str' object is not callable

In [58]:
x=20
y=30
c=x+y
c

50

In [59]:
x=20
y=30
print(x+y)

50

In [60]:
x=20
y=30
x+y

50

In [61]:
x=input("x 값을 입력해 주세요")
y=input("y 값을 입력해 주세요")

x 값을 입력해 주세요20
y 값을 입력해 주세요30

In [62]:
x

'20'

In [63]:
y

'30'

In [64]:
x+y

'2030'

In [65]:
int(x) + int(y)

50

In [66]:
int(x)

20

In [67]:
int(y)

30

In [68]:
x+y

'2030'

In [69]:
int(x)
int(y)
x+y

'2030'

In [70]:
int(x)+int(y)

50

In [71]:
type(true)

NameError: name 'true' is not defined

In [72]:
type(True)

TypeError: 'str' object is not callable

In [73]:
print(3>1)

True

In [74]:
type(10==10)

TypeError: 'str' object is not callable

In [75]:
print(10!=10)

False

In [76]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")
print(x>65 or y>65 or z>65)

첫번째 점수 : 20
두번째 점수 : 70
세번째 점수 : 80

TypeError: '>' not supported between instances of 'str' and 'int'

In [77]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")
print(int(x)>65 or int(y)>65 or int(z)>65)

첫번째 점수 : 20
두번째 점수 : 70
세번째 점수 : 80
True

In [78]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")
print(int(x)>65 and int(y)>65 and int(z)>65)

첫번째 점수 : 70
두번째 점수 : 80
세번째 점수 : 90
True

In [87]:
x=input("첫번째 점수:")
y=input("두번째 점수:")
z=input("세번째 점수:")
print(int(x)>65 and int(y)>65 and int(z)>65)

첫번째 점수:70
두번째 점수:80
세번째 점수:90
True

In [80]:
x=input("첫번째 점수:")
y=input("두번째 점수:")
z=input("세번째 점수:")

첫번째 점수:20
두번째 점수:70
세번째 점수:80

In [81]:
print(x)
print(y)
print(z)

20
70
80

In [82]:
x

'20'

In [83]:
x>65 and y>65 and z>65

TypeError: '>' not supported between instances of 'str' and 'int'

In [84]:
bool(x)

True

In [85]:
bool(-10)

True

In [86]:
print(x>65 and y>65 and z>65)

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
"과일"+"사과"

'과일사과'

In [89]:
"과일"*3

'과일과일과일'

In [90]:
word="apple banana"
len(word)

12

In [91]:
print(word)

apple banana

In [92]:
word

'apple banana'

In [93]:
word.upper()

'APPLE BANANA'

In [94]:
word

'apple banana'

In [95]:
word=word.upper()
word

'APPLE BANANA'

In [96]:
word

'APPLE BANANA'

In [97]:
word=word.lower()

In [98]:
word

'apple banana'

In [99]:
word=word.replace('apple','orange')

In [100]:
word

'orange banana'

In [101]:
word

'orange banana'

In [106]:
name="tom"
print("I am " + name + "!")

I am tom!

In [109]:
print("I am %-10s!" % name)

I am tom       !

In [111]:
f1,f2="apple","banana"

In [115]:
print("I like %s, %s" % (f1, f2))

I like apple, banana

In [116]:
n1, n2=3, 3.2323

In [120]:
print("n1 = %.2f, n2=%d" % (n1, n2))

n1 = 3.00, n2=3

In [123]:
print("n1 = %d, n2 = %0.2f" % (n1, n2))

n1 = 3, n2 = 3.23

In [143]:
x=input("아무 문자나 입력해주세요 : ")
x.replace(" ","")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

'안녕하세요반갑습니다.'

In [147]:
x=input("이름을 입력해주세요 : ")
y=input("첫번째 점수를 입력해 주세요 : ")
z=input("두번째 점수를 입력해 주세요 : ")
a=input("세번째 점수를 입력해 주세요 : ")
print("저의 이름은 {} 이고 총점은 {} 입니다.".format(x,int(y)+int(z)+int(a)))

이름을 입력해주세요 : 홍길동
첫번째 점수를 입력해 주세요 : 80
두번째 점수를 입력해 주세요 : 70
세번째 점수를 입력해 주세요 : 60
저의 이름은 홍길동 이고 총점은 210 입니다.

In [160]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [161]:
a=tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [162]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [163]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [164]:
a=(1,2,3,4,5)
list(a)

[1, 2, 3, 4, 5]

In [165]:
a=[1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [169]:
a=[1,2,3,4,5]
a[4]
a[-1]

5

In [170]:
a[-1]

5

In [171]:
a[-3]

3

In [172]:
a[3]=8
a

[1, 2, 3, 8, 5]

In [173]:
a=[1,2,3,4,5]
a[0:4]

[1, 2, 3, 4]

In [174]:
a[3:5]

[4, 5]

In [175]:
a[1:-2]

[2, 3]

In [176]:
a[1:-1]

[2, 3, 4]

In [177]:
a=[1,2,3,4,5,6,7,8,9,10]

In [178]:
a[2:8:2]

[3, 5, 7]

In [179]:
a[3:]

[4, 5, 6, 7, 8, 9, 10]

In [180]:
a=[1,2,3,4,5]

In [181]:
a[1:4]=["a","b","c"]
a

[1, 'a', 'b', 'c', 5]

In [182]:
a[1:4]=["d","e"]
a

[1, 'd', 'e', 5]

In [183]:
a=[1,2,3,4,5]
del.a[1:4]

SyntaxError: invalid syntax (<ipython-input-183-2ccb8cfc6dff>, line 2)

In [184]:
a=[1,2,3,4,5]

In [189]:
del a[1:4]

### 리스트와 튜플

In [190]:
a=[1,2,3,4,5,6,7]

In [194]:
a=list(range(1,7))
a

[1, 2, 3, 4, 5, 6]

In [195]:
type(range(1,7))

TypeError: 'str' object is not callable

In [200]:
a=[1,2,3,4,5,6,7]
a=tuple(range(1,8))
a

(1, 2, 3, 4, 5, 6, 7)

In [198]:
list(range(-8,8,3))

[-8, -5, -2, 1, 4, 7]

In [199]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [201]:
a=list(range(10,0,-2))
a

[10, 8, 6, 4, 2]

In [202]:
a[2]

6

In [203]:
a[-2]

4

In [204]:
a[1:3]

[8, 6]

In [205]:
a[1:-3]

[8]

In [206]:
a[:3]

[10, 8, 6]

In [207]:
a[2:]

[6, 4, 2]

In [209]:
a[1:3]=["one","two"]
a

[10, 'one', 'two', 4, 2]

In [210]:
del a[1]
a

[10, 'two', 4, 2]

In [211]:
del a[1:3]
a

[10, 2]

In [212]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [213]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [214]:
a=[1,2,3,4,5]

In [215]:
1 in a

True

In [216]:
6 in a

False

In [217]:
a=[1,2,3]

In [218]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [219]:
a=[1,2,3,4,5]
b=[6,7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [220]:
a

[1, 2, 3, 4, 5]

In [221]:
a.append([7,8])
a

[1, 2, 3, 4, 5, [7, 8]]

In [222]:
del a[5]

In [223]:
a

[1, 2, 3, 4, 5]

In [224]:
a.extend([7,8])

In [225]:
a

[1, 2, 3, 4, 5, 7, 8]

In [226]:
a

[1, 2, 3, 4, 5, 7, 8]

In [227]:
a.insert(5,6)

In [228]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [229]:
a=[1,2,3]

In [230]:
a.pop(0)

1

In [231]:
a

[2, 3]

In [232]:
a.pop()

3

In [233]:
a

[2]

In [234]:
a=[1,2,3,4,5]

In [235]:
a.index(3)

2

In [236]:
a=[1,1,2,2,2,3,3]
a.count(2)

3

In [237]:
a=[1,2,3]
a.revers()

AttributeError: 'list' object has no attribute 'revers'

In [239]:
a=[1,2,3]
a.reverse()
a

[3, 2, 1]

In [240]:
a=[3,2,1,4]
a.sort()
a

[1, 2, 3, 4]

In [241]:
a=[3,2,1,4]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [242]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [243]:
12 in a

False

In [244]:
b=[10,11,12]

In [245]:
a+b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [246]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
b

[10, 11, 12]

In [248]:
len(a)

10

In [249]:
len(b)

3

In [250]:
a.apppend(10)
a

AttributeError: 'list' object has no attribute 'apppend'

In [251]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [252]:
a.append(10)

In [253]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [254]:
a.append(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [255]:
del a(11)
a

SyntaxError: can't delete function call (<ipython-input-255-43e63aca1f50>, line 1)

In [256]:
del a[11]

In [257]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [258]:
a.append(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [259]:
a.apppend([11,12])
a

AttributeError: 'list' object has no attribute 'apppend'

In [260]:
a.append([11,12])
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12]]

In [261]:
a.extend([13,14])
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12], 13, 14]

In [262]:
del a[11:15]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [263]:
a.pop()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [264]:
a.pop(0)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [265]:
a.remove([11,12])
a

ValueError: list.remove(x): x not in list

In [266]:
a.insert(5,10)
a

[1, 2, 3, 4, 5, 10, 6, 7, 8, 9]

In [267]:
a.insert(2,[7,8])
a

[1, 2, [7, 8], 3, 4, 5, 10, 6, 7, 8, 9]

In [268]:
a.remove([7,8])
a

[1, 2, 3, 4, 5, 10, 6, 7, 8, 9]

In [269]:
a=[1,2,3,4,5]
b=a
a is b

True

In [270]:
b[0]=10
print(a)

[10, 2, 3, 4, 5]

In [271]:
a=[1,2,3,4,5]
b=a.copy()
a is b

False

In [272]:
b[0]=10
print(a)

[1, 2, 3, 4, 5]

In [273]:
b

[10, 2, 3, 4, 5]

In [274]:
a=[[1,2],[3,4],[5,6]]
a

[[1, 2], [3, 4], [5, 6]]

In [275]:
a[0]

[1, 2]

In [276]:
a[1,2]

TypeError: list indices must be integers or slices, not tuple

In [277]:
b=a[0]
b[0]

1

In [278]:
a[0][1]

2

In [279]:
a[0][0]

1

In [280]:
a[2][0]

5

In [281]:
a=((1,2),(3,4),(5,6))

In [282]:
a(0)(1)

TypeError: 'tuple' object is not callable

In [283]:
a[0][1]

2

In [1]:
print("hello world")

hello world

In [2]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [11]:
a=list(range(2,11,2))
x=input("숫자를 입력해주세요 : ")
a.append(int(x))
a

숫자를 입력해주세요 : 10

[2, 4, 6, 8, 10, 10]

In [12]:
b=list(range(2,21,2))
y=input("숫자를 입력해주세요 : ")
b.append(int(y))
b

숫자를 입력해주세요 : 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [18]:
num = input("숫자를 입력해주세요 : ")
result = list(range(2,int(num)+1,2))
result.append(int(num))
result

숫자를 입력해주세요 : 10

[2, 4, 6, 8, 10, 10]