In [17]:
x=input("이름을 입력해주세요 : ")
y=input("나이를 입력해주세요 : ")
z=input("연락처를 입력해주세요 : ")
score = dict(이름=x, 나이=y, 연락처=z)
score

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-3323-1302

{'이름': '홍길동', '나이': '27', '연락처': '010-3323-1302'}

In [4]:
a=input("이름을 입력해주세요 : ")
b=input("나이를 입력해주세요 : ")
c=input("연락처를 입력해주세요 : ")
d=input("이름을 입력해주세요 : ")
e=input("나이를 입력해주세요 : ")
f=input("연락처를 입력해주세요 : ")
score=[{'이름': a, '나이':b, '연락처':c},{'이름': d, '나이':e, '연락처':f}]
score

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-3023-1223
이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-3030-4434

[{'이름': '홍길동', '나이': '27', '연락처': '010-3023-1223'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-3030-4434'}]

In [5]:
type(score)

list

In [6]:
score={'이름': x, '나이':y, '연락처':y}
type(score)

dict

In [13]:
score = dict(name="tom", math=80, english=70)
score["name"]

'tom'

In [18]:
len(score)

3

In [19]:
name in score

NameError: name 'name' is not defined

In [20]:
"name" in score

False

In [21]:
"math" in score

False

In [23]:
score = dict(name="tom", math=80, english=70)
"name" in score

True

In [27]:
score["name"]

'tom'

In [28]:
score.keys()

dict_keys(['name', 'math', 'english'])

In [29]:
score.values()

dict_values(['tom', 80, 70])

In [30]:
score.items()

dict_items([('name', 'tom'), ('math', 80), ('english', 70)])

In [31]:
animal={"a","b"}

In [32]:
type(animal)

set

In [33]:
"a" in animal

True

In [34]:
a=set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [35]:
b=set(range(5))
b

{0, 1, 2, 3, 4}

In [36]:
a={1,2,3}
b={3,4,5}

In [37]:
a|b

{1, 2, 3, 4, 5}

In [38]:
set.union(a,b)

{1, 2, 3, 4, 5}

In [39]:
a&b

{3}

In [40]:
set.intersection(a,b)

{3}

In [41]:
a-b

{1, 2}

In [42]:
set.difference(a,b)

{1, 2}

In [43]:
a^b
set.symmetric_difference(a,b)

{1, 2, 4, 5}

In [52]:
a={1,2,3,4}
a.remove(5)
a

KeyError: 5

In [46]:
a.discard(2)
a

{3, 4}

In [55]:
a={"1","2","3","4"}
a.discard("4")
a

{'1', '2', '3'}

In [56]:
a={1,2,3}
b={3,4,5}
c=a|b
c

{1, 2, 3, 4, 5}

In [57]:
d=a&b
d

{3}

In [59]:
e=c-d
e

{1, 2, 4, 5}

In [61]:
if 4 in a:
    print("2가 a 안에 있습니다")
    print("3이 a 안에 있습니다")

print("4이 a 안에 있습니다")

4이 a 안에 있습니다

In [62]:
if 4 in a:

SyntaxError: unexpected EOF while parsing (<ipython-input-62-49a66e151417>, line 1)

In [63]:
if 4 in a:
    pass

In [65]:
x=30
if x>=10:
    if x<=20:
        print("x는 20보다 작습니다")
    if x<=30:
        print("x는 30보다 작습니다")

x는 30보다 작습니다

In [75]:
x=input("첫번째 점수를 입력해주세요 : ")
y=input("두번째 점수를 입력해주세요 : ")
z=input("세번째 점수를 입력해주세요 : ")

if 65<int(x)<=100 and 65<int(y)<=100 and 65<int(z)<=100:
    print("합격")
elif int(x)<=65 or int(y)<=65 or int(z)<=65:
    print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

첫번째 점수를 입력해주세요 : 120
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 80
잘못된 점수가 입력되었습니다

In [76]:
x=input("첫번째 점수를 입력해주세요 : ")
y=input("두번째 점수를 입력해주세요 : ")
z=input("세번째 점수를 입력해주세요 : ")

if 65<int(x)<=100 and 65<int(y)<=100 and 65<int(z)<=100:
    print("합격")
elif int(x)<=65 or int(y)<=65 or int(z)<=65:
    print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 75
합격

In [77]:
x=input("첫번째 점수를 입력해주세요 : ")
y=input("두번째 점수를 입력해주세요 : ")
z=input("세번째 점수를 입력해주세요 : ")

if 65<int(x)<=100 and 65<int(y)<=100 and 65<int(z)<=100:
    print("합격")
elif int(x)<=65 or int(y)<=65 or int(z)<=65:
    print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

첫번째 점수를 입력해주세요 : 50
두번째 점수를 입력해주세요 : 60
세번째 점수를 입력해주세요 : 90
불합격

In [123]:
fruit=['사과','오렌지']
vegetable=['당근','호박']

In [125]:
fruit=['사과', '오렌지']
vegetable=['당근','호박']

category=input("등록할 카테고리를 선택해주세요 (과일, 채소)")
register=input("등록할 {}를 입력해주세요 : ".format(category))

if category =="과일" and register != "사과" and register != "오렌지":
           fruit.append(register)
           print(list(fruit))
elif category =="채소" and register != "당근" and register !="호박":
           vegetable.append(register)
           print(list(vegetable))
elif category=="과일" and register == "사과" or register == "오렌지":
           print("이미 등록된 과일입니다")
elif category=="채소" and register=="당근" or register=="호박":
           print("이미 등록된 채소입니다")
else:
           print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해주세요 (과일, 채소)과일
등록할 과일를 입력해주세요 : 바나나
['사과', '오렌지', '바나나']

In [134]:
fruit=['사과', '오렌지']
vegetable=['당근','호박']

category=input("등록할 카테고리를 선택해주세요 (과일, 채소)")
register=input("등록할 {}를 입력해주세요 : ".format(category))

if category in ['과일','채소']:
    if category=="과일" :
        if register in fruit:
            print("이미 등록된 {}입니다".format(category))
        else:
            fruit.append(register)
            print(fruit)
    else:
        if register in vegetable:
            print("이미 등록된 {}입니다".format(category))
        else:
            vegetable.append(register)
            print(vegetable)
else:
    print("존재하지 않는 카테고리입니다")

등록할 카테고리를 선택해주세요 (과일, 채소)사과
등록할 사과를 입력해주세요 : 바나나
존재하지 않는 카테고리입니다

In [135]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [136]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [137]:
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [138]:
for i in "orange":
    print(i,end="")

orange

In [144]:
for i in range(10):
    print(i,end="")

0123456789

In [149]:
for k,v in {"name":"tom","math":80,"english":70}.items():
    print("key:{},value:{}".format(k,v))

key:name,value:tom
key:math,value:80
key:english,value:70

In [151]:
my_dict={"name":"tom","math":80,"english":70}
print(len(my_dict))
for k in my_dict:
    print("key:{},value:{}".format(k,my_dict[k]))

3
key:name,value:tom
key:math,value:80
key:english,value:70

In [153]:
for i in range(5):
    print("*"*10,i)
    for i in range(10,15):
        print("i : ", i)

********** 0
i :  10
i :  11
i :  12
i :  13
i :  14
********** 1
i :  10
i :  11
i :  12
i :  13
i :  14
********** 2
i :  10
i :  11
i :  12
i :  13
i :  14
********** 3
i :  10
i :  11
i :  12
i :  13
i :  14
********** 4
i :  10
i :  11
i :  12
i :  13
i :  14

In [156]:
fruit=['사과','오렌지','바나나']
for idx, item in enumerate(fruit):
    print("{} : {}".format(idx, item))

0 : 사과
1 : 오렌지
2 : 바나나

In [166]:
x=[3,6,9,20,-7,5]

In [223]:
x=[3,6,9,20,-7,5]

for idx in range(len(x)):
    x[idx] *= 10
x

[30, 60, 90, 200, -70, 50]

In [177]:
y={"math":70,"science":80,"english":20}

In [227]:
for score in y:
    y[score] += 10
y

{'math': 120, 'science': 130, 'english': 70}

In [217]:
dan=int(input("몇단을 출력하시겠습니까? "))

몇단을 출력하시겠습니까? 3

In [220]:
for i in range(1,9):
    print("{}*{}={}".format(dan,i,dan*i))

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24

In [221]:
range(len(x))

range(0, 6)

In [238]:
y={"math":70,"science":80,"english":20}
for i in y:
    y[i] += 10
y

{'math': 80, 'science': 90, 'english': 30}

In [239]:
i=0
while i<10:
    print("현재값 : ",i)
    i += 1

현재값 :  0
현재값 :  1
현재값 :  2
현재값 :  3
현재값 :  4
현재값 :  5
현재값 :  6
현재값 :  7
현재값 :  8
현재값 :  9

In [240]:
count=int(input("반복횟수?"))
i=0
while i<count:
    print("입력한 횟수만큼 반복")
    i += 1

반복횟수?5
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복

In [241]:
i=0
while i !=5:
    i=int(input("5를 입력하면 반복이 중단됩니다."))
    print("중단!")

5를 입력하면 반복이 중단됩니다.1
중단!
5를 입력하면 반복이 중단됩니다.2
중단!
5를 입력하면 반복이 중단됩니다.5
중단!

In [296]:
i=2
j=0
while i !=0:
    i=int(input("값을 입력해주세요 : "))
    j += i

print("합계는 ? ",j)

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 0
합계는 ?  50

In [297]:
import random
random.random()

0.9290839141769994

In [298]:
random.randint(1,3)

1

In [299]:
random.randint(1,3)

2

In [300]:
random.randint(1,3)

3

In [301]:
random.randint(1,3)

3

In [302]:
random.randint(1,3)

1

In [303]:
random.randint(1,3)

1

In [304]:
random.randint(1,3)

1

In [305]:
random.randint(1,3)

3

SyntaxError: invalid syntax (<ipython-input-315-a0c13b645a84>, line 9)

In [313]:
a={1:"가위",2:"바위",3:"보"}
a[1]

'가위'

In [314]:
print("유저:{}".format(a[1]))

유저:가위

In [335]:
a={1:"가위",2:"바위",3:"보"}
b=random.randint(1,3)
i=1
j=0

while i<=3:
    i=int(input("가위(1), 바위(2), 보(3)를 입력해주세요."))
    if i>3:
        break
    elif i<1:
        break
    else:
        print("유저 : {}, 컴퓨터 : {}".format(a[i],a[b]))
        i=i+1
        if (i==1 and b==3) or (i==2 and b==1) or (i==3 and b==2):
            j=j+1
    print("게임종료 (전체:{}, 승리:{})".format(i,j))

가위(1), 바위(2), 보(3)를 입력해주세요.3
유저 : 보, 컴퓨터 : 바위
게임종료 (전체:4, 승리:0)

In [337]:
a={1:"가위",2:"바위",3:"보"}
b=random.randint(1,3)
i=0
j=0

while i<=3:
    i=int(input("가위(1), 바위(2), 보(3)를 입력해주세요 : "))
    if i<=3:
        print("유저 : {}, 컴퓨터 : {}".format(a[i],a[b]))
    elif (i==1 and b==3) or (i==2 and b==1) or (i==3 and b==2):
        print("유저 : {}, 컴퓨터 : {}".format(a[i],a[b]))
        j=j+1
    elif i>3:
        print("")

가위(1), 바위(2), 보(3)를 입력해주세요 : 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요 : 2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요 : 3
유저 : 보, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요 : 4