### 주말 숙제

In [12]:
def calc(operator, num1, num2):
    ret = 0
    if operator == "+":
        ret = num1+num2
    elif operator == "-":
        ret = num1-num2
    elif operator == "*":
        ret = num1*num2
    elif operator == "/":
        ret = num1/num2
    # +, -, *, / 로 연산한 결과
    return ret

print(calc("+",24,8))
print(calc("-",24,8))
print(calc("*",24,8))
print(calc("/",24,8))

32
16
192
3.0

In [13]:
def get_inputdata():
    name = input("이름 : ")
    math = int(input("수학 : "))
    science = int(input("과학 : "))
    english = int(input("영어 : "))
    
    return name, math, science, english

In [15]:
def display_all(scores):
    for i, user in enumerate(scores):
        print(f"[{i}] 이름 : {user['이름']}, 수학 : {user['수학']}, 과학 : {user['과학']}, 영어 : {user['영어']}")

In [251]:
import pickle
import os.path

filename = "scores.pkl"

if os.path.exists(filename):
    with open(filename,"rb") as f:
        scores = pickle.load(f)
else:
    scores = []
    
while True:
    menu = int(input("메뉴를 선택해주세요 (1-입력, 2-조회, 3-삭제, 0-종료) : "))
    if menu == 1:
        #입력
        name, math, science, english = get_inputdata()
        scores.append({"이름":name,"수학":math,"과학":science,"영어":english})
        
    elif menu==2:
        #조회 #함수사용
        display_all(scores)
        
        pass
    elif menu ==3:
        #삭제 #함수사용
        display_all(scores)
        
        del_index = int(input("삭제할 번호를 입력해주세요 : "))
        scores.pop(del_index)
        print("삭제가 완료되었습니다.")
        pass
    elif menu==0:
        #종료
        #파일 저장
        with open(filename,"wb") as f:
            pickle.dump(scores, f)
        print("종료되었습니다.")
        break

메뉴를 선택해주세요 (1-입력, 2-조회, 3-삭제, 0-종료) : 2
[0] 이름 : 윤호준, 수학 : 90, 과학 : 90, 영어 : 90
[1] 이름 : 이진범, 수학 : 10, 과학 : 10, 영어 : 10
메뉴를 선택해주세요 (1-입력, 2-조회, 3-삭제, 0-종료) : 0
종료되었습니다.

In [18]:
def demo(name,age):
    print(name, age)

demo("ben",25)

ben 25

In [248]:
def func1(*nums):
    for i in nums:
        print(i)

func1(80, 100, 120)

80
100
120

In [20]:
def calc(a,b):
    # 코드 작성
    res = a+b
    return res
    
res = calc(40,10)
print(res)

# 결과가 50, 30 나와야

50

### 수업 복습

In [22]:
x=[3,6,9,20,-7,5]
for i in range(len(x)):
    x[i] = x[i]*10
# range는 인덱스를 매기기 위한 것
print(x)

[30, 60, 90, 200, -70, 50]

In [39]:
for i in x:
    i = i*10
    list = print(i, end=",").split(",")
    print(list)

300,

AttributeError: 'NoneType' object has no attribute 'split'

In [32]:
for i in x:
    i = i*10
    print(i)

300
600
900
2000
-700
500

### 수업진행(함수부터)

In [49]:
# 실습01
lis=[1,2,3,1,4,2,1]

def allindex(my_list, elem):
    temp_list = []
    for i, e in enumerate(my_list):
        if e == elem:
            temp_list.append(i)
    return temp_list

allindex(lis,1)

[0, 3, 6]

In [54]:
list1 = [10,20,30,40,50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [56]:
list(range(-1,0,-1))

[]

In [57]:
def func(a,b,c):
    print(a,b,c)
x=[1,2,3]
func(*x)

1 2 3

In [60]:
def func(*args):
    for arg in args:
        print(arg)

func(1,2,3,4,5)

1
2
3
4
5

In [61]:
def adding_func(*a):
    sum0 = 0
    for i in a:
        sum0 += i
    return sum0
adding_func(2, 3, 5, 7)

17

In [64]:
def func(email,name):
    print("이메일 : ",email)
    print("이름 : ", name)

func(email="aa@aa.com",name="tom")

이메일 :  aa@aa.com
이름 :  tom

In [65]:
def func(**kwargs):
    print("이메일 : ", kwargs["email"])
    print("이름 : ", kwargs["name"])

func(email="aa@aa.com", name="tom")

이메일 :  aa@aa.com
이름 :  tom

In [69]:
def func(a,b,c):
    print(a,b,c)

x=[1,2,3]
func(*x)

1 2 3

In [77]:
def func(*args):
    for arg in args:
        print(arg, end=",")
        
func(1,2,3,4,5)

1,2,3,4,5,

In [80]:
def func(a, *args):
    print(a, end="")
    for arg in args:
        print(arg, end="")
func(100,1,2,3,4,5)

10012345

In [81]:
range(10)

range(0, 10)

In [83]:
def func(email, name, age=20):
    print("이메일 : ", email)
    print("이름 : ", name)
    print("나이 : ",age)

func(email = "aa.aa.com",name="tom", age=18)

이메일 :  aa.aa.com
이름 :  tom
나이 :  18

In [99]:
def calc(operator, *nums):
    sum = 0
    if operator == "+":
        for num in nums:
            sum = sum + num
    return sum

print("+",1,2,3,4,5)

+ 1 2 3 4 5

In [105]:

def calc(*nums):
    for num in nums:
        sum = sum + num
    return sum
print(1,2,3,4,5)

1 2 3 4 5

In [1]:

def calc(operator, *nums):
    sum = 0
    for num in nums:
  
        if operator =="+":
  
            sum += num
        elif operator =="*":
            if sum ==0:
                sum=1

            sum *= num
    return sum

res1 = calc("+",1,2,3,4,5,6,7,8)
res2 = calc("*",1,2,3,4,5,6,7,8)
print(res1, res2)

36 40320

In [201]:
print("a")

a

In [190]:
def func(**kwargs):
    print("이메일 : ",kwargs["email"])
    print("이름 : ", kwargs["name"])
    
func(email="aa@aa.com",name="tom")

이메일 :  aa@aa.com
이름 :  tom

In [206]:
print("a")

a

In [214]:
def test(end):
    if end==0:
        return print("종료!") # 함수를 끝내겠다. 뒤에있는 코드 실행하지 않음
    print("재귀함수!")
    end -= 1
    test(end)
    
test(5)

재귀함수!
재귀함수!
재귀함수!
재귀함수!
재귀함수!
종료!

In [219]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)

factorial(5)

120

In [230]:
# 실습03 1번

def f_sum(n):
    if n == 1:
        return 1
    return n + f_sum(n-1)

f_sum(5)

15

In [242]:
# 실습03 2번

def f_number(n):
    # n을 리스트로 만들기 ? no
    # 몫과 나머지를 이용!
    if n==0:  # 종료조건
        return

    f_number(n//10) #10으로 나눈 몫을 재귀
    print(n%10)

f_number(1234)  #1234//10 =123, 123//10 = 12, 12//10=1, 1//10=0
#따라서, 1, 2, 3, 4 순으로 나타나게 됨(마지막부터 출력되니깐)
# print를 f_number위에 올리면 먼저 나머지값이 찍히므로 역순으로 나옴

1
2
3
4

In [247]:

plus_ten = lambda x : x+10
plus_ten(1)

11

In [253]:
a=[1,2,3,4,5,6,7,8,9,10]

def f(x):
    if x%2==0:
        return 0
    else:
        return x
    
list(map(f,a))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [256]:
list(map(lambda x : 0 if x%2==0 else x, a))
# f대신 람다사용

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [264]:
list(map(lambda x : 0 if x%2==0 else 1 if x%3==0 else 2, a ))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [258]:
tuple(range(0,1))

(0,)

In [260]:
scores

[{'이름': '윤호준', '수학': 90, '과학': 90, '영어': 90},
 {'이름': '이진범', '수학': 10, '과학': 10, '영어': 10}]

In [270]:
keys = list(map(lambda x : scores[x], scores))
keys

TypeError: list indices must be integers or slices, not dict

In [271]:
(lambda x:x+10)(1)

11

In [272]:
y=20
(lambda x : x+y)(1)

21

In [275]:
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : 0 if x%2==0 else x, a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [276]:
a=[2,6,4,3,6,8,3,9,6]
list(filter(lambda x : x>2 and x<8, a))

[6, 4, 3, 6, 3, 6]

In [279]:
# 람다표현식 사용 안하고 표현하기

a=[1,2,3,4,5,6,7,8,9,10]
def f(x):
    if x%2==0:
        return 0
    elif x%3==0:
        return 1
    else:
        return 2
    
list(map(f,a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [305]:
a=[2,6,4,3,6,8,3,9,6]

In [318]:
a=[2,6,4,3,6,8,3,9,6]

def f(x):
    if x>2 and x<8:
        return x
    else:
        a.remove(x)
        return 
        
list(filter(f,a))

[4, 3, 6]

In [319]:
a

[6, 4, 3, 6, 3, 6]

In [322]:
a=[2,6,4,3,6,8,3,9,6]
list(filter(lambda x : x>2 and x<8, a))

[6, 4, 3, 6, 3, 6]

In [323]:
a

[2, 6, 4, 3, 6, 8, 3, 9, 6]

In [333]:
numbers = [12,32,55,12,32,4,86,50]
list(map(lambda x : 합격 if x>60 else 대기 if 50=<x=<60 else 불합격,numbers))

SyntaxError: invalid syntax (<ipython-input-333-84bfa8d0b095>, line 2)

In [10]:
# 실습04 1번
numbers = [12,32,55,12,32,4,86,50]
list(map(lambda x : "합격" if x>60 else "대기" if 50<=x<=60 else "불합격", numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '대기']

In [6]:
"50보다 작으면 불합격이 들어간 리스트를 만드세요".find("라스트")

-1

In [6]:
# 실습04 2번
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]
list(filter(lambda x : "jpg"in x, files))

['1.jpg', '23.jpg', '223.jpg']

In [12]:
# 실습04 2번
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]
list(filter(lambda x : x.find("jpg") != -1, files))

['1.jpg', '23.jpg', '223.jpg']

In [7]:
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]

In [394]:


# find 함수 정의

In [5]:
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]
list1 = []

for i in range(len(files)):
    if files[i].find("jpg") != -1:
        list1.append(files[i])
    else:
        pass

print(list1)

['1.jpg', '23.jpg', '223.jpg']

NameError: name 'scores' is not defined