In [2]:
import numpy as np

In [3]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [4]:
x = np.array([1,2,3,4])
x

array([1, 2, 3, 4])

In [9]:
np.split(x,4)

[array([1]), array([2]), array([3]), array([4])]

### Pandas

In [10]:
import pandas as pd
import numpy as np

In [11]:
x=[1,2,3,4,5]
x=pd.Series(x)
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
x = [1,2,3,4,5]
x = pd.Series(x,index=['a','b','c','d','e'])
x

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
print(x[1])

2

In [19]:
# Multi Index  홍길동, 이몽룡 내용

In [22]:
x = [1,None,2,None,3,4,None]
x=pd.Series(x)
x

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    4.0
6    NaN
dtype: float64

In [26]:
print(x.isnull())

0    False
1     True
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [28]:
print(x.notnull())

0     True
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [32]:
x.dropna(inplace=True)  # inplace=True넣어주면 원본 x를 바꿔줄 수 있음
x

0    1.0
2    2.0
4    3.0
5    4.0
dtype: float64

In [33]:
x.fillna(0)
x

0    1.0
2    2.0
4    3.0
5    4.0
dtype: float64

In [34]:
x = pd.Series([1,2,3])
y = pd.Series([4,5,6])
z = pd.Series([7,8,9])

pd.concat([x,y,z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [35]:
pd.concat([x,y,z],verify_integrity=True)   # 인덱스 겹쳐서 오류

ValueError: Indexes have overlapping values: Int64Index([0, 1, 2], dtype='int64')

In [36]:
pd.concat([x,y,z],ignore_index=True)   # 인덱스 다시 배열

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [37]:
pd.concat([x,y,z],ignore_index=True,axis=1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [38]:
x = pd.Series([1,2,3,4])
y = pd.Series([4,5,6])
z = pd.Series([7,8,9])

pd.concat([x,y,z],ignore_index=True,axis=1,join='inner')

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [39]:
pd.concat([x,y,z],ignore_index=True,axis=1,join='outer')

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

In [43]:
pd.concat([x,y,z],ignore_index=True,axis=1,join='outer')

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

In [62]:
# 실습01
x = [np.nan,1,2,3,4,5]
x

[nan, 1, 2, 3, 4, 5]

In [63]:
y = pd.Series([x[np.random.randint(0,6)] for i in range(20)])
y                    #개수 6개니까 (0,6)

0     1.0
1     4.0
2     5.0
3     NaN
4     4.0
5     3.0
6     5.0
7     NaN
8     4.0
9     2.0
10    4.0
11    NaN
12    5.0
13    1.0
14    5.0
15    4.0
16    3.0
17    1.0
18    NaN
19    5.0
dtype: float64

In [64]:
#실습01 1. 결측값의 갯수
print(y.isnull().sum())

4

In [65]:
#실습01 2. 결측값 제거
y.dropna()

0     1.0
1     4.0
2     5.0
4     4.0
5     3.0
6     5.0
8     4.0
9     2.0
10    4.0
12    5.0
13    1.0
14    5.0
15    4.0
16    3.0
17    1.0
19    5.0
dtype: float64

In [66]:
#실습01 3. 결측값에 y의 평균값을 넣은 Series
y.fillna(y.dropna().mean())

0     1.0
1     4.0
2     5.0
3     3.5
4     4.0
5     3.0
6     5.0
7     3.5
8     4.0
9     2.0
10    4.0
11    3.5
12    5.0
13    1.0
14    5.0
15    4.0
16    3.0
17    1.0
18    3.5
19    5.0
dtype: float64

In [69]:
y.ffill()  # 결측값을 앞에 값으로 채워줌

0     1.0
1     4.0
2     5.0
3     5.0
4     4.0
5     3.0
6     5.0
7     5.0
8     4.0
9     2.0
10    4.0
11    4.0
12    5.0
13    1.0
14    5.0
15    4.0
16    3.0
17    1.0
18    1.0
19    5.0
dtype: float64

In [70]:
y.bfill()   # 결측값을 뒤의 값으로 채워줌

0     1.0
1     4.0
2     5.0
3     4.0
4     4.0
5     3.0
6     5.0
7     4.0
8     4.0
9     2.0
10    4.0
11    5.0
12    5.0
13    1.0
14    5.0
15    4.0
16    3.0
17    1.0
18    5.0
19    5.0
dtype: float64

In [73]:
sales_data = {
'연도':[2015, 2016, 2017, 2018, 2019, 2020],  # 열이 됨, 연도는 column명
'판매량':[103, 70, 130, 160, 190, 230],   # 열이 됨, 판매량도 columnaud
'매출':[500000, 300000, 400000, 550000, 700000, 680000],
'순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}
df = pd.DataFrame(sales_data)
df   # 인덱스도 같이 나옴

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [74]:
df.head(2)

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000

In [75]:
df.tail(2)

     연도  판매량      매출     순이익
4  2019  190  700000  600000
5  2020  230  680000  590000

In [76]:
df['판매량']   # 시리즈가 됨

0    103
1     70
2    130
3    160
4    190
5    230
Name: 판매량, dtype: int64

In [77]:
type(df['판매량'])

pandas.core.series.Series

In [132]:
# 행렬로 조회하고 싶을 때

df.iloc[1]  # 인덱스 1에 대한 값

연도       2016
판매량        70
매출     300000
순이익    190000
Name: 1, dtype: int64

In [133]:
df.iloc[1].index    # 인덱스 조회 가능

Index(['연도', '판매량', '매출', '순이익'], dtype='object')

In [134]:
# 필요한 것만 계산
df2 = pd.DataFrame(sales_data, columns=['판매량', '매출','순이익'], index=df['연도'])
df2

      판매량      매출     순이익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018  160  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [135]:
df2.iloc[2]    # 직접 연도 입력해서 판매량, 매출, 순이익 조회하려면?

판매량       130
매출     400000
순이익    300000
Name: 2017, dtype: int64

In [136]:
type(df['연도'])

pandas.core.series.Series

In [129]:
type(sales_data)

dict

In [140]:
type(df2)

pandas.core.frame.DataFrame

In [146]:
type(df['연도'])

pandas.core.series.Series

In [142]:
df2.index

Int64Index([2015, 2016, 2017, 2018, 2019, 2020], dtype='int64', name='연도')

In [143]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [156]:
df = pd.read_csv('sales_data.csv', index_col='연도',header=0) #연도를 인덱스로 삼겠다  아까 df2와 같은 결과

In [157]:
df  #csv에서 읽은 텍스트가 데이터프레임으로 바뀜

      판매량      매출      순익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018   60  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [164]:
df.to_csv('sales_data_save.csv')

In [165]:
df

      판매량      매출      순익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018   60  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [166]:
sales_data = {
'연도':[2015, 2016, 2017, 2018, 2019, 2020],  # 열이 됨, 연도는 column명
'판매량':[103, 70, 130, 160, 190, 230],   # 열이 됨, 판매량도 columnaud
'매출':[500000, 300000, 400000, 550000, 700000, 680000],
'순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}
df = pd.DataFrame(sales_data)
df   # 인덱스도 같이 나옴

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [167]:
df['순이익률'] = df['순이익']/df['매출'] * 100   #추가할 수 있음. 계산은 넘파이로 된 것
df

     연도  판매량      매출     순이익       순이익률
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706

In [168]:
def check(n):
    if n>80:
        return '높음'
    else:
        return '낮음'

In [183]:
del df['순이익률 비교']
df

     연도  판매량      매출     순이익       순이익률
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706

In [184]:
df['순이익률 비교'] = list(map(lambda x : '높음' if x>80 else '낮음', df['순이익률']))

In [185]:
df

     연도  판매량      매출     순이익       순이익률 순이익률 비교
0  2015  103  500000  370000  74.000000      낮음
1  2016   70  300000  190000  63.333333      낮음
2  2017  130  400000  300000  75.000000      낮음
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음

In [189]:
df['순이익률 비교'] = df['순이익률'].apply(lambda x : '높음' if x>80 else '낮음')
df  #check 대신 lambda를 쓴 것으로 생각

     연도  판매량      매출     순이익       순이익률 순이익률 비교
0  2015  103  500000  370000  74.000000      낮음
1  2016   70  300000  190000  63.333333      낮음
2  2017  130  400000  300000  75.000000      낮음
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음

In [191]:
df[df['매출']>500000]

     연도  판매량      매출     순이익       순이익률 순이익률 비교
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음

In [192]:
df['테스트1'] = np.where(df['판매량']>200,0,df['판매량'])
df

     연도  판매량      매출     순이익       순이익률 순이익률 비교  테스트1
0  2015  103  500000  370000  74.000000      낮음   103
1  2016   70  300000  190000  63.333333      낮음    70
2  2017  130  400000  300000  75.000000      낮음   130
3  2018  160  550000  480000  87.272727      높음   160
4  2019  190  700000  600000  85.714286      높음   190
5  2020  230  680000  590000  86.764706      높음     0

In [198]:
df['테스트2'] = df[df['판매량']<150]['판매량']+50
df

     연도  판매량      매출     순이익       순이익률 순이익률 비교  테스트1   테스트2
0  2015  103  500000  370000  74.000000      낮음   103  153.0
1  2016   70  300000  190000  63.333333      낮음    70  120.0
2  2017  130  400000  300000  75.000000      낮음   130  180.0
3  2018  160  550000  480000  87.272727      높음   160    NaN
4  2019  190  700000  600000  85.714286      높음   190    NaN
5  2020  230  680000  590000  86.764706      높음     0    NaN

In [206]:
sales_data = {
'연도':[2015, 2016, 2017, 2018, 2019, 2020],  # 열이 됨, 연도는 column명
'판매량':[103, 70, 130, 160, 190, 230],   # 열이 됨, 판매량도 columnaud
'매출':[500000, 300000, 400000, 550000, 700000, 680000],
'순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}
df = pd.DataFrame(sales_data)
df   # 인덱스도 같이 나옴

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [207]:
df.loc[6] = [2021, 720, 650000, 360000]
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  360000

In [209]:
df.loc[7] = df.loc[5]+100
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  360000
7  2120  330  680100  590100

In [210]:
df['순이익률'] = df['순이익']/df['매출'] * 100   #추가할 수 있음. 계산은 넘파이로 된 것
df

     연도  판매량      매출     순이익       순이익률
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706
6  2021  720  650000  360000  55.384615
7  2120  330  680100  590100  86.766652

In [211]:
df['순이익률 비교'] = df['순이익률'].apply(lambda x : '높음' if x>80 else '낮음')
df  #check 대신 lambda를 쓴 것으로 생각

     연도  판매량      매출     순이익       순이익률 순이익률 비교
0  2015  103  500000  370000  74.000000      낮음
1  2016   70  300000  190000  63.333333      낮음
2  2017  130  400000  300000  75.000000      낮음
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음
6  2021  720  650000  360000  55.384615      낮음
7  2120  330  680100  590100  86.766652      높음

In [212]:
df.loc[8] = df.loc[7]+100   #높음, 낮음에 +100 안되기 때문

TypeError: can only concatenate str (not "int") to str

In [213]:
del df['순이익률 비교']
df

     연도  판매량      매출     순이익       순이익률
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706
6  2021  720  650000  360000  55.384615
7  2120  330  680100  590100  86.766652

In [220]:
df.drop(['순이익률'],axis=1,inplace=True)  # 원본도 적용하려면 inplace=True

In [221]:
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  360000
7  2120  330  680100  590100

In [224]:
df.drop(df.columns[[0,2]],axis=1)

   판매량     순이익
0  103  370000
1   70  190000
2  130  300000
3  160  480000
4  190  600000
5  230  590000
6  720  360000
7  330  590100

In [225]:
df.drop(0,inplace=True)
df

     연도  판매량      매출     순이익
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  360000
7  2120  330  680100  590100

In [226]:
df.drop(0,inplace=True)   #0번 인덱스가 이미 지워졌기 때문
df

KeyError: '[0] not found in axis'

In [227]:
df.drop([3,4,5],inplace=True)
df

     연도  판매량      매출     순이익
1  2016   70  300000  190000
2  2017  130  400000  300000
6  2021  720  650000  360000
7  2120  330  680100  590100

In [232]:
df = pd.DataFrame(np.random.randint(1,100,size=(4,4)),index=[['A','A','B','B'],['a','a','b','b']], columns=[['가가','가가','나나','나나'],['가','나','가','나']])

df

     가가      나나
      가   나   가   나
A a  83  62  71  98
  a  53  88  79  63
B b  79  56  33  74
  b  30  42  54  22

In [233]:
df.columns

MultiIndex([('가가', '가'),
            ('가가', '나'),
            ('나나', '가'),
            ('나나', '나')],
           )

In [234]:
df.index

MultiIndex([('A', 'a'),
            ('A', 'a'),
            ('B', 'b'),
            ('B', 'b')],
           )

In [236]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)), index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],['사과','배','바나나','사과','사과','배','바나나','배']], columns=['판매','재고'])

In [238]:
df

         판매  재고
A창고 사과   31  76
    배    87  30
    바나나  44   9
    사과   43  62
B창고 사과   71  77
    배    21  37
    바나나  43  14
    배    49  61

In [239]:
df.index.names = ['창고명','상품명']

In [241]:
df

         판매  재고
창고명 상품명
A창고 사과   31  76
    배    87  30
    바나나  44   9
    사과   43  62
B창고 사과   71  77
    배    21  37
    바나나  43  14
    배    49  61

In [242]:
df.groupby('창고명').sum()

      판매   재고
창고명
A창고  205  177
B창고  184  189

In [243]:
df.groupby('상품명').sum()

      판매   재고
상품명
바나나   87   23
배    157  128
사과   145  215

In [244]:
df.groupby(['창고명','상품명']).sum()

         판매   재고
창고명 상품명
A창고 바나나  44    9
    배    87   30
    사과   74  138
B창고 바나나  43   14
    배    70   98
    사과   71   77

In [245]:
df

         판매  재고
창고명 상품명
A창고 사과   31  76
    배    87  30
    바나나  44   9
    사과   43  62
B창고 사과   71  77
    배    21  37
    바나나  43  14
    배    49  61

In [248]:
df.groupby('창고명')